@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container {
  width: 1000px;
  margin: 20px auto;
}
.buttonBlock {
  height: 33px;
  margin-bottom: 20px;
}
.buttonBlock button{
  float: right;
}
.listContainer .productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 0 2%;
  margin-bottom: 1px;
}

.listContainer .productItem .productPucture img {
  height: 100px;
}

.cardContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
.cardContainer .productItem img {
  height: 300px;
}